<div style="max-width: 640px; margin: auto; text-align: center; font-size: 20px;">
   <h1 style="color: #000000">
      Reestablecer contraseña
   </h1>

   <p style="text-align: left;">
      Hola, has solicitado reestablecer tu contraseña,
      para proseguir, porfavor ingresa el siguiente código:
   </p>

   <h2>{{ code }}</h2>

   <p style="text-align: left;">
      o da click en el siguiente botón:
   </p>

   <a
      href="{{ url }}/reset-password/confirm/link/{{ token }}"
      style="
         background-color: #0097dc;
         display: block;
         width: 250px;
         margin: auto;
         padding: 12px;
         text-decoration: none;
         color: #fff;
         border-radius: 8px;
         font-size: 20px;
      "
   >
      Reestablecer
   </a>
</div>